body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 2em;
    margin: 2em;
}


.my-button {
    border: none;
    background: none;
    color: rgb(255, 0, 0);
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

#decision-results {
     padding: 1em;
     margin: 1em;

     font-size: larger;
}
